@model StarCommanderMvc.Models.BattleResults

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Battle Results</h4>
        <table class="table">
            <tr>
                <th></th>
            </tr>

            @foreach (var item in Model.results)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }

        </table>
    </div>
}
