################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Star-Commander-Resume-Sample/v15
/StarCommander/obj/Release
/.vs
/StarCommander/obj
/StarCommander/bin
